
// base.scss
@mixin body-font {
  font-family: "Roboto", sans-serif;
}
@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@mixin absolute-center-v {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}


/* base color */
$base-color: #636363;
$color-main: #f18c00;
$color-main-dark: #e08202;

/* used color */
$color-red: #b70015;
$color-light-red: #be142f;
$color-white: #ffffff;
$color-very-light-grey: #f5f5f5;
$color-light-grey: #ebebeb;
$color-grey: #a5a5a5;
$color-dark-grey: #636363;
$color-yellow: #f4b350;

$color-transparent-dark: rgba(0,0,0,0.5);
$color-transparent-white: rgba(255,255,255,0.5);
